<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Cdi" value="0.009" />
    <add key="Tb" value="1.08" />
    <add key="Imposto_6" value="0.225" />
    <add key="Imposto_12" value="0.20" />
    <add key="Imposto_24" value="0.175" />
    <add key="Imposto_999" value="0.15" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
