<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Cdi" value="0.009" />
    <add key="Tb" value="1.08" />
    <add key="Imposto_6" value="0.225" />
    <add key="Imposto_12" value="0.20" />
    <add key="Imposto_24" value="0.175" />
    <add key="Imposto_999" value="0.15" />
  </appSettings>
</configuration>
